/*
* @Author: zxchc
* @Date:   2017-03-04 18:14:37
* @Last Modified by:   zxchc
* @Last Modified time: 2017-03-04 21:16:13
*/

.g-flow {
    width: 1205px;
    margin: 0 auto;
}

.g-mn2c {
    float: left;
    margin-right: 245px;
}

.g-mn2 {
    float: left;
    width: 100%;
}

.u-cover {
    position: relative;
    float: left;
    margin: 0 0 20px 20px;
    width: 225px;
    height: 228px;
    background-color: #fff;
}

.u-cover .wrap {
    display: block;
    height: 228px;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.u-cover .wrap:hover{
    box-shadow: 0px 0px 2px 0px rgba(12, 4, 8, 0.3);
}

.u-cover .imgpic {
    width: 223px;
    height: 124px;
    padding: 1px;
}

.u-cover .tt {
    height: 13px;
    padding: 5px;
}

.f-oh {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.f-fs0 {
    font-size: 12px;
}

.u-cover .orgname {
    height: 13px;
    padding: 6px;
    color: #999999;
}

.u-cover .num {
    padding: 6px;
    font-size: 12px;
    color: #999;
}

.u-cover .price {
    padding: 5px 6px;
}

.u-cover .pri {
    height: 11px;
    color: #ff3f00;
}

.m-data-lists {
    margin-left: -20px;
    margin-bottom: -20px;
}

.m-pager {
    float: right;
    padding: 30px 0;
}

.m-pager{
    line-height: 20px;
}
.m-pager .prv,.m-pager .nxt {
    width: 30px;
    height: 20px;
    text-indent: -9999px;
}
.m-pager .prv{
    background:#9dd8b1 url(../images/a.png) no-repeat center;
}
.m-pager .nxt{
    background:#9dd8b1 url(../images/b.png) no-repeat center;
}
.m-pager a{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    text-align: center;
}

.m-nav {
    margin-bottom: 30px;
    font-size: 20px;
}

.m-nav .item {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666666;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
}

.m-nav .selected {
    color: #fff;
    background-color: #39a030;
}

.m-pager .pg:hover {
    color: #fff;
    background-color: #9dd8b1;
}

.m-pager .selected,.m-pager .selected:hover {
    color: #10ae58;
    background: none;
    cursor: default;
}

.m-pager .f-dis {
    cursor: default;
    background-color: #ddd;
}

.f-templete{
    display: none;
}

.g-sd2 {
    float: right;
    width: 223px;
    margin-left: -223px;
}

.m-advertise {
    width: 223px;
    height: 229px;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
    background: #fff;
}

.u-tit {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
}

.m-advertise .text {
    padding: 20px 23px 9px;
    color: #666666;
}

.m-toplit .imgpic {
    float: left;
}

.m-advertise .playbox {
    position: relative;
    padding: 0 21.5px;
}
.m-advertise .playbox img{
    cursor: pointer;
}

.m-advertise .icon {
    width: 14px;
    height: 18px;
}

.m-top {
    width: 223px;
    margin-top: 21px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(6, 0, 1, 0.2);
}
.g-toptit{
    position: relative;
    height: 900px;
    overflow: hidden;
}
.m-toplit{
    position: absolute;
    bottom: -900px;
    width: 223px;
}

.m-toplit .item {
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.m-toplit .tt {
    margin-left: 60px;
}

.m-toplit .num {
    margin: 10px 0 0 60px;
    height: 17px;
    line-height: 18px;
    padding-left: 16px;
    font-size: 12px;
    color: #999;
    background: url(../images/people.png) no-repeat 0 1px;
}

.u-cover .wrap:hover {
    position: absolute;
    left: -11px;
    top: -10px;
    box-sizing: border-box;
    width: 481px;
    height: 238px;
    z-index: 1;
    padding: 11px 12px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(12, 4, 8, 0.5);
}
.u-cover .wrap:hover .imgpic{
    float: left;
    margin-right: 15px;
}
.u-cover .wrap:hover .tt{
    height: 18px;
    font-size: 18px;
}
.u-cover .hot{
    padding: 0 6px 0 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: url(../images/people.png) no-repeat;
}
.u-cover .wrap:hover .hot:after{
    content: '人在学';
}
.u-cover .wrap:hover .orgname:before {
    content: '发布者：';
}
.u-cover .wrap:hover .num {
    position: absolute;
    height: 17px;
    padding: 0;
    left: 255px;
    top: 50px;
    color: #666;
}
.u-cover .wrap:hover .hot {
    border: none;
}
.u-cover .wrap:hover .orgname {
    position: absolute;
    left: 257px;
    top: 74px;
    padding: 3px 0;
    color: #666;
}
.u-cover .wrap:hover .kind {
    position: absolute;
    display: block;
    bottom: 125px;
    left: 257px;
    font-size: 12px;
    color: #666;
}
.u-cover .wrap:hover .price,.u-cover .disc,.u-cover .kind {
    display: none;
}
.u-cover .wrap:hover .disc{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    height: 83px;
    line-height: 27px;
    padding: 22px;
    color: #666;
    background-color: #f8f8f8;
}
